body {
    font-family: 'Poppins';
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #0a1f1c;
}

.imagem {
    margin-left: 15px;
    width: 150px;
    height: 75px;
    background-size: cover;
    background-image: url('../assets/logo-eclipseed-white.png');
}

.conteudoImg {
    margin-top: 25%;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-size: cover;
    background-image: url('../assets/homeplanta.png');
}

.header {
    display: flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    font-size: 18px;
    background-color: #144f44;
    color:white;
    border-radius: 0px 0px 15px 15px;
}

.navegacao {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    margin-left: 15%;
}

.login {
    padding-right: 3%;
}

.atual {
    font-weight: bolder;
}

.navegacao a {
    text-decoration: none;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.login span {
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textoChamativo {
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

.container{
    width: 100%;
    padding: 10% 0px 0px 0px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container h1 {
    font-size: 85px;
    color: #00ffd1;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.container span {
    font-size: 20px;
    color: #f0f4f4;
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
}

.container .botao {
    border-radius: 15px;
    width: 100px;
    height: 45px;
    background-color:#144f44;
    color: white;
}

.container .mensagem {
    display: flex;
    flex-direction: column;
}

.sobre_nos {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    justify-content: space-around;
    align-items: space-around;

}

.sobre_nos .imagens {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    margin-top: 5px;
}

.sobre_nos .sobrenos {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
    justify-content: cover;
    align-items: cover;
}

.sobre_nos .sobrenos h1 {
    font-size: 45px;
}

.sobre_nos .sobrenos span {
    font-size: 25px;
    margin-right: 30px;
}

.sobre_nos .imagens img {
    width: 70%;
    height: 25%;
    padding: 2.5%;
    border-radius: 45px;
}

.sobre_nos .imagens #imagem-direita {
    margin-left: 20%;
}








/* MONITORAMENTO */
.icon-profile {
    width: 50px;
    height: 50px;
}

.container-monitoramento {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    align-items: center;
}

.container-monitoramento h1 {
    font-size: 50px;
    color: #45642F;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.conteudo-monitoramento {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    gap: 40px;
}

.legenda {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px;
}

.legenda span {
    justify-content: center;
    margin-top: 2%;
    margin-right: 40px;
    color: #45642F;
    font-size: 20px;
    font-weight: bold;
}

.sensores {
    display: flex;
    justify-content: center;  
    background-color: #FFFFFF;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    height: 200px;
    width: 100%;
    border-radius: 20px;
}

.sensores button {
    margin-top: 10px;
    border: none;
    height: 40px;
    width: 80%;
    background-color: #45642F;
    color: white;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 15px;
    cursor: pointer;
}

.sensores button:hover {
    background-color: #2b3b1f;
}

.metricas {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    height: 100px;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.linha-metrica {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.maximo, .minimo {
    height: 2px;
    width: 40px;
    border-radius: 4px;
}

.maximo {
    background-color: red;
}

.minimo {
    background-color: #FFBB00;
}

.texto-metrica {
    font-size: 15px;
    font-family: 'Poppins';
    color: black;
    font-weight: 500;
}

.grafico {
    width: 75%
}
